<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ivan_DynamicShipping::menu"
             title="Dynamic Shipping"
             module="Ivan_DynamicShipping"
             sortOrder="51"
             resource="Magento_Backend::content"/>
        <add id="Ivan_DynamicShipping::manage"
             title="Dynamic Shippings"
             module="Ivan_DynamicShipping"
             sortOrder="10"
             action="dynamicshipping/manage"
             resource="Magento_Backend::content"
             parent="Ivan_DynamicShipping::menu"/>
    </menu>
</config>